<ion-header>
    <ion-navbar color="primary">
        <ion-title>Guia</ion-title>
        <ion-buttons end>
            <button ion-button right icon-only (click)="openSearch()">
                  <ion-icon name="md-search"></ion-icon>
              </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-searchbar (ionInput)="getItems($event)" [debounce]="500" placeholder="Pesquisa..."></ion-searchbar>

    <ion-card *ngFor="let item of searchItems" (click)="goToProductDetailPage(item)">
        <ion-item>
            <ion-icon name="ios-checkmark-outline" item-start large color="danger"></ion-icon>
            <h2>{{item.title}}</h2>
            <p>Honda</p>
        </ion-item>

    </ion-card>
    <div class="infor" *ngIf="!isEmpty" text-center>
        <ion-badge color="secondary">
            <ion-icon name="information-circle"></ion-icon>
            Pesquise Acima ou escolha uma Categoria
        </ion-badge>
    </div>

    <div *ngIf="!isEmpty">
        <button ion-button full color="primary" *ngFor="let btn of allCategory" (click)="goToDetailsOfCategory(btn.name)">
            {{ btn.name }}
        </button>
    </div>
</ion-content>